@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

html {
  font-size: 62.5%; }

p {
  line-height: 2rem; }

.button, .projectsAdd a .buttonAdd, .newsAdd a .buttonAdd, .projectsGrid .projectsContent .projects__card a .buttonCard, .projectsGrid .donateAdd a .buttonAdd, .donateGrid .donateContent .sectionDonation .sectionDonation__form .buttonForm, .donateGrid .donateContent .sectionIdeas .sectionIdeas__form .buttonForm {
  padding: 0.3rem;
  border-radius: 5px;
  background-color: #E3FEFF;
  text-align: center;
  font-size: 1.5rem;
  color: black; }

.botonera {
  grid-area: botonera;
  background-color: #FFFEFF;
  /* Logo Home */
  /* Lista accesos */ }
  .botonera .botonera__logo {
    width: 15rem;
    border: solid 2px whitesmoke; }
  .botonera .botonera__lista {
    margin: 0.5rem;
    padding: 1rem; }
    .botonera .botonera__lista a {
      font-size: 1.5rem; }

.homeGrid {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "botonera" "homeContent" "projectsAdd" "newsAdd" "pie"; }
  .homeGrid .homeContent {
    grid-area: homeContent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: all; }
    .homeGrid .homeContent .sectionHome {
      height: 80vh;
      background-image: url(../img/header-actions.png);
      background-position: center;
      background-size: cover;
      overflow-x: clip; }
      .homeGrid .homeContent .sectionHome .sectionHome__title--xl {
        margin: 30% auto;
        font-size: 5rem;
        line-height: auto;
        text-align: center;
        color: black;
        animation-name: textAlpha;
        animation-duration: 2s; }

@keyframes textAlpha {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
        .homeGrid .homeContent .sectionHome .sectionHome__title--xl span {
          text-transform: uppercase;
          color: white;
          animation-name: beat;
          animation-iteration-count: infinite;
          animation-duration: 2s; }

@keyframes beat {
  2% {
    font-size: 6rem; }
  6% {
    font-size: 5rem; }
  8% {
    font-size: 6rem; }
  12% {
    font-size: 5rem; } }
    .homeGrid .homeContent .sectionAboutUs {
      height: 80vh;
      background-image: url(../img/aboutus-actions.png);
      background-position: center;
      background-size: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      .homeGrid .homeContent .sectionAboutUs .sectionAboutUs__title {
        font-size: 3rem;
        line-height: auto;
        text-align: center;
        color: black; }
  @media (min-width: 768px) {
    .homeGrid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "botonera botonera" "homeContent homeContent" "projectsAdd newsAdd" "pie pie"; } }

.projectsAdd {
  grid-area: projectsAdd;
  height: 30vh;
  background-color: #1E5096;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .projectsAdd h2 {
    font-size: 3rem;
    line-height: auto;
    text-align: center;
    color: black; }
  .projectsAdd p {
    font-size: 1.5rem;
    line-height: auto;
    text-align: center;
    color: white; }
  .projectsAdd a {
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .projectsAdd a .buttonAdd {
      margin: 2px; }

.newsAdd {
  grid-area: newsAdd;
  height: 30vh;
  background-color: #469CE3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .newsAdd h2 {
    font-size: 3rem;
    line-height: auto;
    text-align: center;
    color: black; }
  .newsAdd p {
    font-size: 1.5rem;
    line-height: auto;
    text-align: center;
    color: white; }
  .newsAdd a {
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .newsAdd a .buttonAdd {
      margin: 2px; }

/* Projects */
.projectsGrid {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "botonera" "projectsContent" "donateAdd" "newsAdd" "pie"; }
  .projectsGrid .projectsContent {
    grid-area: projectsContent;
    width: 100vw;
    height: 80vh;
    padding-top: 10rem;
    background-color: #5AC7FA;
    background-attachment: fixed;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .projectsGrid .projectsContent .projects__card {
      width: 85%;
      height: auto;
      margin: 1rem 1rem;
      border: solid 0.3rem white;
      background-color: #1E5096; }
      .projectsGrid .projectsContent .projects__card a {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        text-decoration: none; }
        .projectsGrid .projectsContent .projects__card a .card__img {
          width: 100%;
          height: 65%; }
        .projectsGrid .projectsContent .projects__card a .card__title {
          font-size: 3rem;
          line-height: auto;
          text-align: center;
          color: white; }
        .projectsGrid .projectsContent .projects__card a .card__text {
          font-size: 1.5rem;
          line-height: auto;
          text-align: center;
          color: white; }
        .projectsGrid .projectsContent .projects__card a .buttonCard {
          background-color: whitesmoke;
          color: black;
          margin: 3px; }
      .projectsGrid .projectsContent .projects__card:hover {
        transform: scale(1.05); }
      @media (min-width: 768px) {
        .projectsGrid .projectsContent .projects__card {
          width: 40%; } }
  .projectsGrid .donateAdd {
    background-color: #1E5096;
    grid-area: donateAdd;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .projectsGrid .donateAdd h2 {
      font-size: 3rem;
      line-height: auto;
      text-align: center;
      color: white; }
    .projectsGrid .donateAdd p {
      font-size: 1.5rem;
      line-height: auto;
      text-align: center;
      color: black; }
    .projectsGrid .donateAdd a {
      width: 100%;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }
      .projectsGrid .donateAdd a .buttonAdd {
        margin: 2px; }
  @media (min-width: 768px) {
    .projectsGrid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "botonera botonera" "projectsContent projectsContent" "donateAdd newsAdd" "pie pie"; } }

/*News*/
.newsGrid {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "botonera" "newsContent" "newsPodcast" "projectsAdd" "pie"; }
  .newsGrid .newsContent {
    grid-area: newsContent;
    width: 100%;
    height: auto;
    padding-top: 5rem;
    background-color: #5AC7FA;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .newsGrid .newsContent .news__title--xl {
      margin: 6rem auto 2rem auto;
      padding: 1rem 3rem;
      animation-name: textAlpha;
      animation-duration: 2s;
      font-size: 5rem;
      line-height: auto;
      text-align: center;
      color: white; }
    .newsGrid .newsContent .news__box {
      width: auto;
      flex-wrap: wrap;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .newsGrid .newsContent .news__box .box__article {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center; }
        .newsGrid .newsContent .news__box .box__article a {
          width: 95%;
          height: auto;
          margin: 0.2rem 0.2rem;
          padding: 1rem 1rem;
          background-color: #1E5096;
          border: solid 3px white;
          text-decoration: none;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center; }
          .newsGrid .newsContent .news__box .box__article a .article__img {
            width: 100%;
            height: 50%; }
            @media (min-width: 768px) {
              .newsGrid .newsContent .news__box .box__article a .article__img {
                width: 75%; } }
          .newsGrid .newsContent .news__box .box__article a .article__title {
            padding: 4px;
            font-size: 2rem;
            line-height: 2rem;
            text-align: center;
            color: white; }
            @media (min-width: 768px) {
              .newsGrid .newsContent .news__box .box__article a .article__title {
                width: 75%; } }
          .newsGrid .newsContent .news__box .box__article a .article__text {
            font-size: 1.5rem;
            line-height: 2rem;
            text-align: left;
            color: white; }
            @media (min-width: 768px) {
              .newsGrid .newsContent .news__box .box__article a .article__text {
                padding: 0.3rem; } }
          @media (min-width: 768px) {
            .newsGrid .newsContent .news__box .box__article a {
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
              align-items: center; } }
        .newsGrid .newsContent .news__box .box__article:hover {
          transform: scale(1.03); }
  .newsGrid .newsPodcast {
    grid-area: newsPodcast;
    width: 100%;
    background-color: #006090;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; }
    .newsGrid .newsPodcast iframe {
      width: 100%; }
    .newsGrid .newsPodcast .podcast__title {
      font-size: 3rem;
      line-height: auto;
      text-align: center;
      color: white;
      padding: 1rem; }
  @media (min-width: 768px) {
    .newsGrid .projectsAdd {
      height: auto; } }
  @media (min-width: 768px) {
    .newsGrid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "botonera botonera" "newsContent newsContent" "newsPodcast projectsAdd" "pie pie"; } }

/*Donate*/
.donateGrid {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "botonera" "donateContent" "projectsAdd" "newsAdd" "pie"; }
  .donateGrid .donateContent {
    grid-area: donateContent;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    background-color: #5AC7FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .donateGrid .donateContent .sectionDonation {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .donateGrid .donateContent .sectionDonation .sectionDonation__title--xl {
        font-size: 5rem;
        line-height: auto;
        text-align: center;
        color: black;
        overflow-x: clip; }
      .donateGrid .donateContent .sectionDonation .sectionDonation__text--xl {
        font-size: 1.5rem;
        line-height: auto;
        text-align: center;
        color: black; }
      .donateGrid .donateContent .sectionDonation .sectionDonation__form {
        width: 80%;
        margin: 3rem;
        padding: 1rem;
        border: solid 3px white;
        background-color: #1E5096;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: all;
        font-size: 1.5rem;
        line-height: auto;
        text-align: left;
        color: white; }
        .donateGrid .donateContent .sectionDonation .sectionDonation__form fieldset {
          font-size: 1.7rem; }
          .donateGrid .donateContent .sectionDonation .sectionDonation__form fieldset legend {
            color: brown;
            margin-left: 2rem; }
          .donateGrid .donateContent .sectionDonation .sectionDonation__form fieldset label {
            padding: 2px; }
        .donateGrid .donateContent .sectionDonation .sectionDonation__form .buttonForm {
          margin: 2px;
          background-color: white;
          color: black; }
        @media (min-width: 768px) {
          .donateGrid .donateContent .sectionDonation .sectionDonation__form {
            width: 50%; } }
    .donateGrid .donateContent .sectionIdeas {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .donateGrid .donateContent .sectionIdeas .sectionIdeas__title--xl {
        font-size: 5rem;
        line-height: auto;
        text-align: center;
        color: black; }
      .donateGrid .donateContent .sectionIdeas .sectionIdeas__text--xl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        line-height: auto;
        text-align: center;
        color: black; }
      .donateGrid .donateContent .sectionIdeas .sectionIdeas__form {
        width: 80%;
        margin: 3rem;
        padding: 1rem;
        background-color: #1E5096;
        border: solid 3px white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: all; }
        .donateGrid .donateContent .sectionIdeas .sectionIdeas__form legend {
          color: brown; }
        .donateGrid .donateContent .sectionIdeas .sectionIdeas__form label {
          font-size: 1.5rem;
          line-height: auto;
          text-align: left;
          color: white; }
        .donateGrid .donateContent .sectionIdeas .sectionIdeas__form .buttonForm {
          margin: 2px;
          background-color: white;
          color: black; }
        @media (min-width: 768px) {
          .donateGrid .donateContent .sectionIdeas .sectionIdeas__form {
            width: 50%; } }
  @media (min-width: 768px) {
    .donateGrid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "botonera botonera" "donateContent donateContent" "projectsAdd newsAdd" "pie pie"; } }

/*Talk to us*/
.talkToUsGrid {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "botonera" "talkToUsContent" "projectsAdd" "newsAdd" "pie"; }
  .talkToUsGrid .talkToUsContent {
    grid-area: talkToUsContent;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .talkToUsGrid .talkToUsContent .sectionTalkToUs {
      width: 100%;
      height: 100vh;
      background-color: #5AC7FA;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }
      .talkToUsGrid .talkToUsContent .sectionTalkToUs .talkToUs__title--xl {
        margin-top: 7rem;
        font-size: 5rem;
        line-height: auto;
        text-align: center;
        color: white; }
      .talkToUsGrid .talkToUsContent .sectionTalkToUs .talkToUs__title--m {
        font-size: 1.5rem;
        line-height: auto;
        text-align: center;
        color: white; }
      .talkToUsGrid .talkToUsContent .sectionTalkToUs iframe {
        width: 80%; }
  @media (min-width: 768px) {
    .talkToUsGrid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "botonera botonera" "talkToUsContent projectsAdd" "talkToUsContent newsAdd" "pie pie"; } }
  @media (min-width: 768px) {
    .talkToUsGrid .projectsAdd {
      height: auto;
      padding-top: 3rem;
      padding-bottom: 1rem; } }
  @media (min-width: 768px) {
    .talkToUsGrid .newsAdd {
      height: auto;
      padding-top: 3rem;
      padding-bottom: 1rem; } }

/*Footer*/
.pie {
  grid-area: pie;
  background-color: #FFFEFF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .pie .pie__title {
    font-size: 1.5rem;
    line-height: auto;
    text-align: center;
    color: black; }
  .pie .pie__icon img {
    width: 3rem;
    margin: 0.5rem 0.5rem; }
  .pie .pie__icon a {
    text-decoration: none; }
