@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

html {
  font-size: 62.5%; }

p {
  line-height: 2rem; }

.projectsAdd a .buttonAdd, .newsAdd a .buttonAdd, .projectsGrid .projectsContent .projects__card .card .buttonCard, .projectsGrid .donateAdd a .buttonAdd, .donateGrid .donateContent .sectionDonation .sectionDonation__form .buttonForm, .talkToUsGrid .talkToUsContent .sectionIdeas .sectionIdeas__form .buttonForm {
  margin: 1rem;
  padding: 0.3rem;
  border-color: #FFFEFF;
  border-radius: 5px;
  background-color: #E3FEFF;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  transition: all 0.7s; }
  .projectsAdd a .buttonAdd:hover, .newsAdd a .buttonAdd:hover, .projectsGrid .projectsContent .projects__card .card .buttonCard:hover, .projectsGrid .donateAdd a .buttonAdd:hover, .donateGrid .donateContent .sectionDonation .sectionDonation__form .buttonForm:hover, .talkToUsGrid .talkToUsContent .sectionIdeas .sectionIdeas__form .buttonForm:hover {
    transform: scale(1.05);
    background-color: #1E5096;
    color: white; }

.botonera {
  grid-area: botonera;
  background-color: #FFFEFF;
  /* Logo Home */
  /* Lista accesos */ }
  .botonera .botonera__logo {
    width: 18rem;
    border: solid 2px whitesmoke; }
  .botonera .botonera__lista {
    margin: 0.5rem;
    padding: 1rem; }
    .botonera .botonera__lista a {
      font-size: 1.5rem; }

.homeGrid {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "botonera" "homeContent" "projectsAdd" "newsAdd" "pie"; }
  .homeGrid .homeContent {
    grid-area: homeContent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: all;
    margin-top: 12vh; }
    .homeGrid .homeContent .sectionHome {
      height: 80vh;
      background-image: url(../img/header-actions.png);
      background-position: center;
      background-size: cover;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: all; }
      .homeGrid .homeContent .sectionHome .sectionHome__title--xl {
        margin-top: 10vh;
        font-size: 5rem;
        line-height: auto;
        text-align: center;
        color: black;
        animation-name: textAlpha;
        animation-duration: 3s; }

@keyframes textAlpha {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
        .homeGrid .homeContent .sectionHome .sectionHome__title--xl span {
          text-transform: uppercase;
          color: white;
          animation-name: beat;
          animation-iteration-count: infinite;
          animation-duration: 2s; }

@keyframes beat {
  2% {
    font-size: 6rem; }
  6% {
    font-size: 5rem; }
  8% {
    font-size: 6rem; }
  12% {
    font-size: 5rem; } }
    .homeGrid .homeContent .sectionAboutUs {
      padding-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap; }
      .homeGrid .homeContent .sectionAboutUs .aboutUs__text--xl {
        margin: 1rem;
        font-size: 1.7rem;
        line-height: "";
        text-align: center;
        color: black; }
      .homeGrid .homeContent .sectionAboutUs .aboutUs__card {
        border: solid 2px black;
        width: 100%; }
        .homeGrid .homeContent .sectionAboutUs .aboutUs__card .aboutUs__title {
          font-size: 3rem;
          line-height: auto;
          text-align: left;
          color: black;
          border-bottom: 2px solid black;
          margin: 1rem; }
        .homeGrid .homeContent .sectionAboutUs .aboutUs__card .aboutUs__text {
          font-size: 1.5rem;
          line-height: 2rem;
          text-align: left;
          color: black;
          margin: 1rem; }
        @media (min-width: 575px) {
          .homeGrid .homeContent .sectionAboutUs .aboutUs__card:nth-child(1) {
            width: 55%; } }
        .homeGrid .homeContent .sectionAboutUs .aboutUs__card:nth-child(2) {
          background-color: #5AC7FA; }
          .homeGrid .homeContent .sectionAboutUs .aboutUs__card:nth-child(2) .aboutUs__title {
            font-size: 3rem;
            line-height: auto;
            text-align: center;
            color: black; }
          .homeGrid .homeContent .sectionAboutUs .aboutUs__card:nth-child(2) .aboutUs__text {
            font-size: 1.5rem;
            line-height: 2rem;
            text-align: center;
            color: black; }
          @media (min-width: 575px) {
            .homeGrid .homeContent .sectionAboutUs .aboutUs__card:nth-child(2) {
              width: 45%; } }
        .homeGrid .homeContent .sectionAboutUs .aboutUs__card:nth-child(3) {
          background-color: #5AC7FA; }
          .homeGrid .homeContent .sectionAboutUs .aboutUs__card:nth-child(3) .aboutUs__title {
            font-size: 3rem;
            line-height: auto;
            text-align: right;
            color: black; }
          .homeGrid .homeContent .sectionAboutUs .aboutUs__card:nth-child(3) .aboutUs__text {
            font-size: 1.5rem;
            line-height: 2rem;
            text-align: right;
            color: black; }
          @media (min-width: 575px) {
            .homeGrid .homeContent .sectionAboutUs .aboutUs__card:nth-child(3) {
              width: 50%; } }
        .homeGrid .homeContent .sectionAboutUs .aboutUs__card:nth-child(4) {
          background-color: #5AC7FA; }
          .homeGrid .homeContent .sectionAboutUs .aboutUs__card:nth-child(4) .aboutUs__title {
            font-size: 3rem;
            line-height: auto;
            text-align: right;
            color: black; }
          .homeGrid .homeContent .sectionAboutUs .aboutUs__card:nth-child(4) .aboutUs__text {
            font-size: 1.5rem;
            line-height: 2rem;
            text-align: right;
            color: black; }
          @media (min-width: 575px) {
            .homeGrid .homeContent .sectionAboutUs .aboutUs__card:nth-child(4) {
              width: 50%; } }
        @media (min-width: 575px) {
          .homeGrid .homeContent .sectionAboutUs .aboutUs__card {
            height: 30vh; } }
  @media (min-width: 768px) {
    .homeGrid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "botonera botonera" "homeContent homeContent" "projectsAdd newsAdd" "pie pie"; } }

.projectsAdd {
  grid-area: projectsAdd;
  background-color: #1E5096;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .projectsAdd h2 {
    font-size: 3rem;
    line-height: auto;
    text-align: center;
    color: white; }
  .projectsAdd p {
    margin: 1rem;
    font-size: 1.5rem;
    line-height: auto;
    text-align: start;
    color: white; }
  .projectsAdd a {
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
    .projectsAdd a .buttonAdd {
      width: 30%;
      background-color: #469CE3; }

.newsAdd {
  grid-area: newsAdd;
  background-color: #469CE3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .newsAdd h2 {
    font-size: 3rem;
    line-height: auto;
    text-align: center;
    color: white; }
  .newsAdd p {
    margin: 1rem;
    font-size: 1.5rem;
    line-height: auto;
    text-align: start;
    color: white; }
  .newsAdd a {
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
    .newsAdd a .buttonAdd {
      width: 30%; }
      .newsAdd a .buttonAdd:hover {
        background-color: #469CE3; }

/* Projects */
.projectsGrid {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "botonera" "projectsContent" "donateAdd" "newsAdd" "pie"; }
  .projectsGrid .projectsContent {
    grid-area: projectsContent;
    padding-top: 10rem;
    background-color: #5AC7FA;
    background-attachment: fixed;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .projectsGrid .projectsContent .projects__title--xl {
      margin: 2rem auto;
      padding: 1rem 3rem;
      animation-name: textAlpha;
      animation-duration: 2s;
      font-size: 5rem;
      line-height: auto;
      text-align: center;
      color: white; }
    .projectsGrid .projectsContent .projects__text--xl {
      margin: 1rem;
      font-size: 1.7rem;
      line-height: "";
      text-align: center;
      color: white; }
    .projectsGrid .projectsContent .projects__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .projectsGrid .projectsContent .projects__card .card {
        border: solid 0.3rem white;
        padding: 0.5rem;
        box-shadow: 0 0 30px 0 #5a5858;
        transition: all 0.7s;
        background-color: #1E5096;
        border-radius: 3%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start; }
        .projectsGrid .projectsContent .projects__card .card img {
          transition: all 0.7s; }
          .projectsGrid .projectsContent .projects__card .card img:hover {
            transform: scale(0.95); }
        .projectsGrid .projectsContent .projects__card .card .card__title {
          display: inline;
          font-size: 3rem;
          line-height: auto;
          text-align: start;
          color: white;
          margin: 1rem; }
        .projectsGrid .projectsContent .projects__card .card .card__text {
          font-size: 1.5rem;
          line-height: auto;
          text-align: start;
          color: white;
          margin: auto 1rem; }
        .projectsGrid .projectsContent .projects__card .card .buttonCard {
          background-color: #FFFEFF; }
        .projectsGrid .projectsContent .projects__card .card:hover {
          transform: scale(1.02);
          background-color: #020301; }
      @media (min-width: 768px) {
        .projectsGrid .projectsContent .projects__card {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap; } }
  .projectsGrid .donateAdd {
    background-color: #1E5096;
    grid-area: donateAdd;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .projectsGrid .donateAdd h2 {
      font-size: 3rem;
      line-height: auto;
      text-align: center;
      color: white; }
    .projectsGrid .donateAdd p {
      font-size: 1.5rem;
      line-height: auto;
      text-align: center;
      color: black; }
    .projectsGrid .donateAdd a {
      width: 100%;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }
  @media (min-width: 768px) {
    .projectsGrid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "botonera botonera" "projectsContent projectsContent" "donateAdd newsAdd" "pie pie"; } }

/*News*/
.newsGrid {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "botonera" "newsContent" "newsPodcast" "projectsAdd" "pie"; }
  .newsGrid .newsContent {
    grid-area: newsContent;
    width: 100%;
    height: auto;
    padding-top: 10rem;
    background-color: #5AC7FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .newsGrid .newsContent .news__title--xl {
      margin: 2rem auto;
      padding: 1rem 3rem;
      animation-name: textAlpha;
      animation-duration: 2s;
      font-size: 5rem;
      line-height: auto;
      text-align: center;
      color: white; }
    .newsGrid .newsContent .news__text--xl {
      margin: 1rem;
      font-size: 1.7rem;
      line-height: "";
      text-align: center;
      color: white; }
    .newsGrid .newsContent .news__box {
      width: auto;
      flex-wrap: wrap;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .newsGrid .newsContent .news__box .articleNews {
        margin: 0.7rem 1.5rem;
        border: solid 0.3rem white;
        border-radius: 5px;
        transition: all 0.7s;
        background-color: #469CE3;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center; }
        .newsGrid .newsContent .news__box .articleNews a {
          text-decoration: none; }
          .newsGrid .newsContent .news__box .articleNews a .article__title {
            font-size: 2rem;
            line-height: auto;
            text-align: left;
            color: white;
            padding-bottom: 0.3rem;
            border-bottom: solid 2px white;
            margin: 1rem; }
            .newsGrid .newsContent .news__box .articleNews a .article__title:hover {
              color: #1E5096;
              border-bottom: solid 2px darkblue; }
          .newsGrid .newsContent .news__box .articleNews a .article__text {
            font-size: 1.5rem;
            line-height: 2rem;
            text-align: left;
            color: white;
            margin: 1rem; }
            .newsGrid .newsContent .news__box .articleNews a .article__text:hover {
              color: #1E5096; }
          .newsGrid .newsContent .news__box .articleNews a .card-footer {
            text-decoration: none;
            font-size: 1rem;
            line-height: auto;
            text-align: left;
            color: white; }
        .newsGrid .newsContent .news__box .articleNews:hover {
          transform: scale(1.02); }
  .newsGrid .newsPodcast {
    grid-area: newsPodcast;
    width: 100%;
    background-color: #006090;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; }
    .newsGrid .newsPodcast iframe {
      width: 100%; }
    .newsGrid .newsPodcast .podcast__title {
      font-size: 3rem;
      line-height: auto;
      text-align: center;
      color: white;
      padding: 1rem; }
  @media (min-width: 768px) {
    .newsGrid .projectsAdd {
      height: auto; } }
  @media (min-width: 768px) {
    .newsGrid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "botonera botonera" "newsContent newsContent" "newsPodcast projectsAdd" "pie pie"; } }

/*Donate*/
.donateGrid {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "botonera" "donateContent" "projectsAdd" "newsAdd" "pie"; }
  .donateGrid .donateContent {
    grid-area: donateContent;
    padding-top: 12rem;
    background-color: #5AC7FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .donateGrid .donateContent .donate__title--xl {
      padding: 1rem 3rem;
      animation-name: textAlpha;
      animation-duration: 2s;
      font-size: 5rem;
      line-height: auto;
      text-align: center;
      color: white; }
    .donateGrid .donateContent .donate__text--xl {
      font-size: 1.7rem;
      line-height: auto;
      text-align: center;
      color: white; }
    .donateGrid .donateContent .sectionDonation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .donateGrid .donateContent .sectionDonation .sectionDonation__form {
        width: 80%;
        margin: 3rem;
        padding: 1rem;
        border: solid 3px white;
        background-color: #1E5096;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: all;
        font-size: 1.5rem;
        line-height: auto;
        text-align: left;
        color: white; }
        .donateGrid .donateContent .sectionDonation .sectionDonation__form fieldset {
          font-size: 1.7rem; }
          .donateGrid .donateContent .sectionDonation .sectionDonation__form fieldset legend {
            color: brown;
            margin-left: 2rem; }
          .donateGrid .donateContent .sectionDonation .sectionDonation__form fieldset label {
            padding: 2px; }
        .donateGrid .donateContent .sectionDonation .sectionDonation__form .buttonForm {
          background-color: whitesmoke;
          color: black;
          margin: 1rem;
          transition: all 0.7s; }
          .donateGrid .donateContent .sectionDonation .sectionDonation__form .buttonForm:hover {
            transform: scale(1.2);
            background-color: #1E5096;
            color: white; }
        @media (min-width: 768px) {
          .donateGrid .donateContent .sectionDonation .sectionDonation__form {
            width: 50%; } }
      .donateGrid .donateContent .sectionDonation .cardDonate {
        margin: 1rem;
        background-color: #E3FEFF;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 1.5rem;
        line-height: auto;
        text-align: center;
        color: black; }
        .donateGrid .donateContent .sectionDonation .cardDonate .card__title {
          font-size: 2rem;
          line-height: auto;
          text-align: start;
          color: #469CE3;
          margin: 0.5rem 1rem 0.5rem 1rem; }
        .donateGrid .donateContent .sectionDonation .cardDonate .card__text {
          font-size: 1.5rem;
          line-height: auto;
          text-align: start;
          color: #469CE3;
          margin: auto 1rem 0.5rem 1rem; }
          .donateGrid .donateContent .sectionDonation .cardDonate .card__text footer {
            font-size: 1rem;
            line-height: auto;
            text-align: start;
            color: #469CE3;
            margin-left: 7rem; }
  @media (min-width: 768px) {
    .donateGrid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "botonera botonera" "donateContent donateContent" "projectsAdd newsAdd" "pie pie"; } }

/*Talk to us*/
.talkToUsGrid {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "botonera" "talkToUsContent" "projectsAdd" "newsAdd" "pie"; }
  .talkToUsGrid .talkToUsContent {
    grid-area: talkToUsContent;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .talkToUsGrid .talkToUsContent .sectionTalkToUs {
      width: 100%;
      height: 100vh;
      background-color: #5AC7FA;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }
      .talkToUsGrid .talkToUsContent .sectionTalkToUs .talkToUs__title--xl {
        margin-top: 7rem;
        font-size: 5rem;
        line-height: auto;
        text-align: center;
        color: white; }
      .talkToUsGrid .talkToUsContent .sectionTalkToUs .talkToUs__title--m {
        font-size: 1.5rem;
        line-height: auto;
        text-align: center;
        color: white; }
      .talkToUsGrid .talkToUsContent .sectionTalkToUs iframe {
        width: 80%; }
    .talkToUsGrid .talkToUsContent .sectionIdeas {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .talkToUsGrid .talkToUsContent .sectionIdeas .sectionIdeas__title--xl {
        padding: 1rem 3rem;
        animation-name: textAlpha;
        animation-duration: 2s;
        font-size: 5rem;
        line-height: auto;
        text-align: center;
        color: white; }
      .talkToUsGrid .talkToUsContent .sectionIdeas .sectionIdeas__text--xl {
        font-size: 1.7rem;
        line-height: auto;
        text-align: center;
        color: white; }
      .talkToUsGrid .talkToUsContent .sectionIdeas .sectionIdeas__form {
        width: 80%;
        margin: 3rem;
        padding: 1rem;
        background-color: #1E5096;
        border: solid 3px white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: all; }
        .talkToUsGrid .talkToUsContent .sectionIdeas .sectionIdeas__form legend {
          color: brown; }
        .talkToUsGrid .talkToUsContent .sectionIdeas .sectionIdeas__form label {
          font-size: 1.5rem;
          line-height: auto;
          text-align: left;
          color: white; }
        .talkToUsGrid .talkToUsContent .sectionIdeas .sectionIdeas__form .buttonForm {
          background-color: whitesmoke;
          color: black;
          margin: 1rem;
          transition: all 0.7s; }
          .talkToUsGrid .talkToUsContent .sectionIdeas .sectionIdeas__form .buttonForm:hover {
            transform: scale(1.2);
            background-color: #1E5096;
            color: white; }
        @media (min-width: 768px) {
          .talkToUsGrid .talkToUsContent .sectionIdeas .sectionIdeas__form {
            width: 50%; } }
    .talkToUsGrid .talkToUsContent .advisorContact {
      width: 100%;
      height: 100vh;
      background-color: #5AC7FA;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }
      .talkToUsGrid .talkToUsContent .advisorContact .advisorContact__title--xl {
        margin-top: 7rem;
        font-size: 5rem;
        line-height: auto;
        text-align: center;
        color: white; }
      .talkToUsGrid .talkToUsContent .advisorContact .advisorContact__title--m {
        font-size: 1.5rem;
        line-height: auto;
        text-align: center;
        color: white; }
  @media (min-width: 768px) {
    .talkToUsGrid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "botonera botonera" "talkToUsContent talkToUsContent" "projectsAdd newsAdd" "pie pie"; } }
  @media (min-width: 768px) {
    .talkToUsGrid .projectsAdd {
      height: auto;
      padding-top: 3rem;
      padding-bottom: 1rem; } }
  @media (min-width: 768px) {
    .talkToUsGrid .newsAdd {
      height: auto;
      padding-top: 3rem;
      padding-bottom: 1rem; } }

/*Footer*/
.pie {
  grid-area: pie;
  background-color: #FFFEFF;
  display: flex;
  flex-direction: column;
  justify-content: "";
  align-items: center; }
  .pie .pie__title {
    border: solid 2px black;
    font-size: 1.5rem;
    line-height: auto;
    text-align: center;
    color: black; }
  .pie .pie__icon {
    border: solid 2px black; }
    .pie .pie__icon img {
      width: 3rem;
      margin: 0.5rem 0.5rem; }
    .pie .pie__icon a {
      text-decoration: none; }
  .pie .pie__nav a {
    font-size: 1.5rem;
    line-height: auto;
    text-align: center;
    color: #020301;
    text-decoration: none; }
