	/*Donate*/
.donateGrid{
	width: 100vw;
	background-image: url(../img/Fondo-4.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto auto;
	grid-template-areas:"botonera"
						"donateContent"
						"projectsAdd"
						"newsAdd"
						"pie";
	.donateContent{
		grid-area: donateContent;
		padding-top: 12rem;
		.donate__title--xl{
			padding: 1rem 3rem;
			animation-name: textAlpha;
			animation-duration: 2s;
			@include text($textXL, auto, center, $lightColor);
		}
		.donate__text--xl{
			@include text(1.7rem, auto, center, $lightColor);
			border-top: solid 2px $lightColor;
			margin: 1rem;
			padding: 1rem;
			span{
				color: map-get($map:$paleta,$key:'darkblue');
			}
		}
		.sectionDonation{
			.sectionDonation__form{
				border: solid 3px white;
				border-radius: 10px;
				background-color: map-get($map:$paleta,$key:'darkblue');
				@include text($textS, auto, left, $lightColor);
				justify-content: space-around;
				transition: all 0.7s;
				fieldset{
					font-size: 1.7rem;
					legend{
						font-size: 1.7rem;
						color: map-get($map:$paleta,$key:'lightblue');
						margin-left: 2rem;
					}
					label{
						padding: 2px;
					}
					input{
						font-size: 1.5rem;
					}
				}
				.buttonForm{
					@extend %button;
					width: 30%;
					background-color: whitesmoke;
					color: $darkColor;
					transition: all 0.7s;
					&:hover{
						transform: scale(1.2);
						background-color: map-get($map:$paleta,$key:'darkblue');
						color: $lightColor;
					}
					@media (min-width: 768px){
						width: 15%;
					}
				}
				&:hover{
					border: solid 3px map-get($map:$paleta,$key:'darkblue');
				}
			}
			.donate__quotes{
				justify-content: space-evenly;
				.cardDonate{
					background-color: map-get($map:$paleta,$key:'superlight');
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
					transition: all 0.7s;
					@include text($textS, auto, center, $darkColor);
					.card__title{
						@include text(2rem, auto, start, map-get($map:$paleta,$key:'darkblue'));
					}
					.card__text{
						@include text(1.7rem, auto, start, map-get($map:$paleta,$key:'darkblue'));
						footer{
							@include text(1.5rem, auto, start, map-get($map:$paleta,$key:'darkblue'));
							margin-left: 7rem;
						}
					}
					&:hover{
						transform: scale(1.01);
					}
				}
			}
		}
	}
	@media (min-width: 768px){
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto auto auto auto;
		grid-template-areas:"botonera botonera"
							"donateContent donateContent"
							"projectsAdd newsAdd"
							"pie pie";
	}
}