	/*Donate*/
.donateGrid{
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto auto;
	grid-template-areas:"botonera"
						"donateContent"
						"projectsAdd"
						"newsAdd"
						"pie";
	.donateContent{
		grid-area: donateContent;
		width: 100%;
		height: auto;
		padding-top: 8rem;
		background-color: map-get($map:$paleta,$key:'lightblue');
		@include flexContent(column, center, center);
		.sectionDonation{
			width: 100%;
			height: auto;
			// background-image: url(../img/donate-actions.png);
			// background-position: center;
			// background-size: cover;
			@include flexContent(column, center, center);
			.sectionDonation__title--xl{
				@include text($textXL, auto, center, $darkColor);
				overflow-x: clip;
			}
			.sectionDonation__text--xl{
				@include text($textS, auto, center, $darkColor);
			}
			.sectionDonation__form{
				width: 80%;
				margin: 3rem;
				padding: 1rem;
				border: solid 3px white;
				background-color: map-get($map:$paleta,$key:'darkblue');
				@include flexContent(row, center, all);
				@include text($textS, auto, left, $lightColor);
				fieldset{
					font-size: 1.7rem;
					legend{
						color: brown;
						margin-left: 2rem;
					}
					label{
						padding: 2px;
					}
				}
				.buttonForm{
					@extend .button;
					margin: 2px;
					background-color: white;
					color: black;
				}
				@media (min-width: 768px){
					width: 50%;
				}
			}
		}
		.sectionIdeas{
			width: 100%;
			height: auto;
			@include flexContent(column, center, center);
			.sectionIdeas__title--xl{
				@include text($textXL, auto, center, $darkColor);
			}
			.sectionIdeas__text--xl{
				@include flexContent(column, center, center);
				@include text($textS, auto, center, $darkColor);
			}
			.sectionIdeas__form{
				width: 80%;
				margin: 3rem;
				padding: 1rem;
				background-color: map-get($map:$paleta,$key:'darkblue');
				border: solid 3px white;
				@include flexContent(column, space-around, all);
				legend{
					color: brown;
				}
				label{
					@include text($textS, auto, left, $lightColor);
				}
				.buttonForm{
					@extend .button;
					margin: 2px;
					background-color: white;
					color: black;
				}
				@media (min-width: 768px){
					width: 50%;
				}
			}
		}
	}
	@media (min-width: 768px){
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto auto auto auto;
		grid-template-areas:"botonera botonera"
							"donateContent donateContent"
							"projectsAdd newsAdd"
							"pie pie";
	}
}