	/*Footer*/
.pie{
	grid-area: pie;
	background-color: map-get($map:$paleta,$key:'white');
	@include flexContent(column, "", center);
	.pie__title{
		border: solid 2px black;
		@include text($textS, auto, center, $darkColor);
	}
	.pie__icon{
		border: solid 2px black;
		img{
			width: 3rem;
			margin: 0.5rem 0.5rem;
		}
		a{
			text-decoration: none;
		}
	}
	.pie__nav{
		a{
			@include text($textS, auto, center, map-get($map:$paleta,$key:'dark'));
			text-decoration: none;
		}
	}
}