// home
.homeGrid{
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto auto;
	grid-template-areas:"botonera"
						"homeContent"
						"projectsAdd"
						"newsAdd"
						"pie";
	.homeContent{
		grid-area: homeContent;
		@include flexContent(column, center, all);
		margin-top: 12vh;
		.sectionHome{
			height: 80vh;
			background-image: url(../img/header-actions.png);
			background-position: center;
			background-size: cover;
			@include flexContent(row, center, all);
			.sectionHome__title--xl{
				margin-top: 10vh;
				@include text($textXL, auto, center, $darkColor);
				animation-name: textAlpha;
				animation-duration: 3s;
				@keyframes textAlpha{
					from{opacity: 0}
					to{opacity: 1;}
				}
				span{
					text-transform: uppercase;
					color: $lightColor;
					animation-name: beat;
					animation-iteration-count: infinite;
					animation-duration: 2s;
					@keyframes beat{
						2%{font-size: 6rem;}
						6%{font-size: 5rem;}
						8%{font-size: 6rem;}
						12%{font-size: 5rem;}
					}
				}
			}
		}
		.sectionAboutUs{
			padding-top: 5rem;
			@include flexContent(row, space-evenly, center);
			flex-wrap: wrap;
			.aboutUs{
				border: solid 2px black;
				width: 100%;
				.aboutUs__title{
					@include text($textM, auto, left, $darkColor);
					border-bottom: 2px solid black;
					margin: 1rem;
				}
				.aboutUs__text{
					@include text($textS, 2rem, left, $darkColor);
					margin: 1rem;
				}
				&:nth-child(1){
					@media (min-width: 575px){
						width: 55%;
					}
				}
				&:nth-child(2){
					background-color: map-get($map:$paleta,$key:'lightblue');
					.aboutUs__title{
						@include text($textM, auto, center, $darkColor);
					}
					.aboutUs__text{
						@include text($textS, 2rem, center, $darkColor);
					}
					@media (min-width: 575px){
						width: 45%;
					}
				}
				&:nth-child(3){
					background-color: map-get($map:$paleta,$key:'lightblue');
					.aboutUs__title{
						@include text($textM, auto, right, $darkColor);
					}
					.aboutUs__text{
						@include text($textS, 2rem, right, $darkColor);
					}
					@media (min-width: 575px){
						width: 50%;
					}
				}
				&:nth-child(4){
					background-color: map-get($map:$paleta,$key:'lightblue');
					.aboutUs__title{
						@include text($textM, auto, right, $darkColor);
					}
					.aboutUs__text{
						@include text($textS, 2rem, right, $darkColor);
					}
					@media (min-width: 575px){
						width: 50%;
					}
				}
				@media (min-width: 575px){
					height: 30vh;
				}
			}
		}
	}
	@media (min-width: 768px){
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto auto auto auto;
		grid-template-areas:"botonera botonera"
							"homeContent homeContent"
							"projectsAdd newsAdd"
							"pie pie";
	}
}
.projectsAdd{
	grid-area: projectsAdd;
	height: 30vh;
	background-color: map-get($map:$paleta,$key:'darkblue');
	@include flexContent(column, space-evenly, center);
	h2{
		@include text($textM, auto, center, $darkColor);
	}
	p{
		@include text($textS, auto, center, $lightColor);
	}
	a{
		width: 100%;
		text-decoration: none;
		@include flexContent(column, space-evenly, center);
		.buttonAdd{
			@extend %button;
			margin: 2px;
		}
	}
}
.newsAdd{
	grid-area: newsAdd;
	height: 30vh;
	background-color: map-get($map:$paleta,$key:'blue');
	@include flexContent(column, space-evenly, center);
	h2{
		@include text($textM, auto, center, $darkColor);
	}
	p{
		@include text($textS, auto, center, $lightColor);
	}
	a{
		width: 100%;
		text-decoration: none;
		@include flexContent(column, space-evenly, center);
		.buttonAdd{
			@extend %button;
			margin: 2px;
		}
	}
}