// Botonera 
.botonera{
	grid-area: botonera;
	background-color: map-get($map:$paleta,$key:'white');
	/* Logo Home */
	.botonera__logo{
		width: 15rem;
		border: solid 2px whitesmoke;
	}
	/* Lista accesos */
	.botonera__lista{
		margin: 0.5rem;
		padding: 1rem;
		a{
			font-size: $textS;
		}
	}
}