	/*News*/
.newsGrid{
	width: 100vw;
	background-image: url(../img/Fondo-4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto auto;
	grid-template-areas:"botonera"
						"newsContent"
						"newsPodcast"
						"projectsAdd"
						"pie";
	.newsContent{
		grid-area: newsContent;
		padding-top: 10rem;
		.news__title--xl{
			padding: 1rem 3rem;
			animation-name: textAlpha;
			animation-duration: 2s;
			@include text($textXL, auto, center, $lightColor);
		}
		.news__text--xl{
			border-top: solid 2px $lightColor;
			margin: 1rem;
			padding: 1rem;
			@include text(1.7rem, "", center, $lightColor);
			span{
				text-transform: uppercase;
				color: map-get($map:$paleta,$key:'darkblue');
			}
		}
		.news__box{
			padding: 1rem;
			.articleNews{
				margin: 1rem 2rem;
				border: solid 0.3rem map-get($map:$paleta,$key:'darkblue');
				border-radius: 5px;
				background-color: map-get($map:$paleta,$key:'darkblue');
				@include flexContent(column, space-evenly, center);
				a{
					text-decoration: none;
					.article__title{
						@include text(2rem, auto, left, rgb(214, 214, 214));
						padding-bottom: 0.3rem;
						border-bottom: solid 2px map-get($map:$paleta,$key:'white');
						margin: 1rem;
					}
					.article__text{
						@include text($textS, 2rem, left, map-get($map:$paleta,$key:'white'));
						margin: 1rem;
					}
					.card-footer{
						text-decoration: none;
						@include text(1rem, auto, left, $lightColor);
					}
				}
				&:hover{
					border: solid 0.3rem map-get($map:$paleta,$key:'white');
					.article__title{
						@include text(2rem, auto, left, map-get($map:$paleta,$key:'white'));
					}
					.article__text{
						@include text($textS, 2rem, left, map-get($map:$paleta,$key:'white'));
					}
				}
			}
			.cardNews{
				@include flexContent(column, space-evenly, center);
				width: 85%;
				border: solid 0.3rem map-get($map:$paleta,$key:'white');
				border-radius: 5px;
				margin-left: 2.3rem;
				margin-top: 1rem;
				margin-bottom: 1rem;
				img{
					width: 100%;
				}
				h2{
					@include text(2rem, auto, center, map-get($map:$paleta,$key:'white'));
					margin: 0.5rem;
				}
				p{
					@include text(1.7rem, 2rem, center, map-get($map:$paleta,$key:'white'));
					margin: 0.5rem;
				}
		
				@media (min-width: 991px){
					margin-top: 7rem;
				}
			}
		}
	}
	.newsPodcast{
		grid-area: newsPodcast;
		width: 80%;
		background-color: #006090;
		margin: 2rem 15% 2rem 10%;
		border: 3px solid rgb(162, 159, 159);
		border-radius: 50px;
		@include flexContent(column, center, center);
		iframe{
			object-fit: fill
		}
		.podcast__title{
			@include text($textM, auto, center, $lightColor);
			padding: 1rem;
		}
	}
	@media (min-width: 768px){
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto auto auto auto;
		grid-template-areas:"botonera botonera"
							"newsContent newsContent"
							"newsPodcast projectsAdd"
							"pie pie";
	}
}