	/*Talk to us*/
.talkToUsGrid{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto auto;
	grid-template-areas:"botonera"
						"talkToUsContent"
						"projectsAdd"
						"newsAdd"
						"pie";
	.talkToUsContent{
		margin-top: 11rem;
		grid-area: talkToUsContent;
		background-color: map-get($map:$paleta,$key:'lightblue');
		.sectionTalkToUs{
			.talkToUs__title--xl{
				@include text($textXL, auto, center, $lightColor);
			}
			.talkToUs__title--m{
				@include text($textS, auto, center, $lightColor);
			}
			iframe{
				width: 80%;
			}
		}
		.sectionIdeas{
			.sectionIdeas__title--xl{
				animation-name: textAlpha;
				animation-duration: 2s;
				@include text($textXL, auto, center, $lightColor);
			}
			.sectionIdeas__text--xl{
				@include text(1.7rem, auto, center, $lightColor);
			}
			.sectionIdeas__form{
				width: 80%;
				margin: 3rem;
				padding: 1rem;
				background-color: map-get($map:$paleta,$key:'darkblue');
				border: solid 3px white;
				@include flexContent(column, space-around, all);
				legend{
					color: brown;
				}
				label{
					@include text($textS, auto, left, $lightColor);
				}
				.buttonForm{
					@extend %button;
					background-color: whitesmoke;
					color: $darkColor;
					margin: 1rem;
					transition: all 0.7s;
					&:hover{
						transform: scale(1.2);
						background-color: map-get($map:$paleta,$key:'darkblue');
						color: $lightColor;
					}
				}
			}
		}
		.advisorContact{
			background-color: map-get($map:$paleta,$key:'lightblue');
			.advisorContact__title--xl{
				@include text($textXL, auto, center, $lightColor);
			}
			.advisorContact__title--m{
				@include text($textS, auto, center, $lightColor);
			}
			.sectionAdvisor__form{
				width: 80%;
				margin: 3rem;
				padding: 1rem;
				background-color: map-get($map:$paleta,$key:'darkblue');
				border: solid 3px white;
				@include flexContent(column, space-around, all);
				legend{
					color: brown;
				}
				label{
					@include text($textS, auto, left, $lightColor);
				}
				.buttonForm{
					@extend %button;
					background-color: whitesmoke;
					color: $darkColor;
					margin: 1rem;
					transition: all 0.7s;
					&:hover{
						transform: scale(1.2);
						background-color: map-get($map:$paleta,$key:'darkblue');
						color: $lightColor;
					}
				}
			}
		}
	}
	@media (min-width: 768px){
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto auto auto auto;
		grid-template-areas:"botonera botonera"
							"talkToUsContent talkToUsContent"
							"projectsAdd newsAdd"
							"pie pie";
	}
}