<!doctype html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<title>News from the sustainable world</title>
		<meta name="description" content="The latest news on the state of our planet">
		<meta name="keywords" content="Global plastics environment">
		<!-- favicon -->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
		<!-- Actions CSS -->
		<link rel="stylesheet" href="../css/main.css">
	</head>
	
	<body class="newsGrid">
		<!-- Botonera -->
		<nav class="navbar navbar-expand-sm navbar-light fixed-top botonera">
			<div class="container-fluid">
				<a class="navbar-brand" href="../index.html"><img class="botonera__logo" src="../img/logo-actions.png"
						alt="Actions logo"></a>
				<button class="navbar-toggler m-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end botonera__lista" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="projects.html">Projects</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="news.html">News</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="donate.html">Donate</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="talk_to_us.html">Talk to us</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- News -->
		<main class="newsContent">
			<h1 class="news__title--xl">The latest News</h1>
			<p class="news__text--xl">There are things you need to know. Things that will make you take <span>actions</span></p>
			<!-- seccion noticias -->
			<div class="container news__box">
				<div class="row">
					<div class="col-lg-7">
						<!-- noticia 1 -->
						<article class="articleNews">
							<a href="https://www.letsrecycle.com/news/global-plastics-lifecycle-far-from-circular-oecd-says/"
								target="_blank">
								<h2 class="article__title">Global plastics lifecycle far from circular, OECD says</h2>
								<p class="article__text">The current global plastics lifecycle is “far from circular”, according to
									a report published today (22 February) by the Organisation for Economic Co-operation and
									Development (OECD). Founded in 1961 to stimulate economic progress and world trade, the OECD is
									an intergovernmental organisation with 38 member countries, including the UK.</p>
								<div class="card-footer">
									<p>20' min ago</p>
								</div>
							</a>
						</article>
						<!-- noticia 2 -->
						<article class="articleNews">
							<a href="https://seas-at-risk.org/general-news/environment-groups-call-on-shipping-industry-to-tackle-underwater-noise-pollution/"
								target="_blank">
								<h2 class="article__title">Environment groups call on shipping industry to tackle underwater noise
									pollution</h2>
								<p class="article__text">As a meeting of the International Maritime Organisation’s Sub-Committee on
									Ship Design and Construction (SDC 8) opens today, the Clean Arctic Alliance is calling on IMO
									members to take action to reduce underwater ship noise and the harm that it is doing to the
									health of marine wildlife, including whales, dolphins and fish.</p>
								<div class="card-footer">
									<p>1 day ago</p>
								</div>
							</a>
						</article>
					</div>
					
					<div class="col-lg-4">
						<!-- card News -->
						<div class="cardNews">
							<img src="../img/recycling-actions.png" class="card-img-top" alt="Recycling plastic">
							<h2 class="cardNews__title">Afrikrea, an Ivorian startup</h2>
							<div class="cardNews__text">
								<p>We raised a $6.2 million pre-Series A. All thanks to our first doners, now our stakeholders, no doubt.</p>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="container news__box">
				<div class="row">
					<div class="col-lg-7">
						<!-- noticia 1 -->
						<article class="articleNews">
							<a href="https://www.letsrecycle.com/news/global-plastics-lifecycle-far-from-circular-oecd-says/"
								target="_blank">
								<h2 class="article__title">Global plastics lifecycle far from circular, OECD says</h2>
								<p class="article__text">The current global plastics lifecycle is “far from circular”, according to
									a report published today (22 February) by the Organisation for Economic Co-operation and
									Development (OECD). Founded in 1961 to stimulate economic progress and world trade, the OECD is
									an intergovernmental organisation with 38 member countries, including the UK.</p>
								<div class="card-footer">
									<p>20' min ago</p>
								</div>
							</a>
						</article>
						<!-- noticia 2 -->
						<article class="articleNews">
							<a href="https://seas-at-risk.org/general-news/environment-groups-call-on-shipping-industry-to-tackle-underwater-noise-pollution/"
								target="_blank">
								<h2 class="article__title">Environment groups call on shipping industry to tackle underwater noise
									pollution</h2>
								<p class="article__text">As a meeting of the International Maritime Organisation’s Sub-Committee on
									Ship Design and Construction (SDC 8) opens today, the Clean Arctic Alliance is calling on IMO
									members to take action to reduce underwater ship noise and the harm that it is doing to the
									health of marine wildlife, including whales, dolphins and fish.</p>
								<div class="card-footer">
									<p>1 day ago</p>
								</div>
							</a>
						</article>
					</div>
					
					<div class="col-lg-4">
						<!-- Quotes de companies 1 -->
						<div class="cardNews">
							<img src="../img/recycling-actions.png" class="card-img-top" alt="Recycling plastic">
							<h2 class="cardNews__title">Afrikrea, an Ivorian startup</h2>
							<div class="cardNews__text">
								<p>We raised a $6.2 million pre-Series A. All thanks to our first doners, now our stakeholders, no doubt.</p>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="container news__box">
				<div class="row">
					<div class="col-lg-7">
						<!-- noticia 1 -->
						<article class="articleNews">
							<a href="https://www.letsrecycle.com/news/global-plastics-lifecycle-far-from-circular-oecd-says/"
								target="_blank">
								<h2 class="article__title">Global plastics lifecycle far from circular, OECD says</h2>
								<p class="article__text">The current global plastics lifecycle is “far from circular”, according to
									a report published today (22 February) by the Organisation for Economic Co-operation and
									Development (OECD). Founded in 1961 to stimulate economic progress and world trade, the OECD is
									an intergovernmental organisation with 38 member countries, including the UK.</p>
								<div class="card-footer">
									<p>20' min ago</p>
								</div>
							</a>
						</article>
						<!-- noticia 2 -->
						<article class="articleNews">
							<a href="https://seas-at-risk.org/general-news/environment-groups-call-on-shipping-industry-to-tackle-underwater-noise-pollution/"
								target="_blank">
								<h2 class="article__title">Environment groups call on shipping industry to tackle underwater noise
									pollution</h2>
								<p class="article__text">As a meeting of the International Maritime Organisation’s Sub-Committee on
									Ship Design and Construction (SDC 8) opens today, the Clean Arctic Alliance is calling on IMO
									members to take action to reduce underwater ship noise and the harm that it is doing to the
									health of marine wildlife, including whales, dolphins and fish.</p>
								<div class="card-footer">
									<p>1 day ago</p>
								</div>
							</a>
						</article>
					</div>
					
					<div class="col-lg-4">
						<!-- Quotes de companies 1 -->
						<div class="cardNews">
							<img src="../img/recycling-actions.png" class="card-img-top" alt="Recycling plastic">
							<h2 class="cardNews__title">Afrikrea, an Ivorian startup</h2>
							<div class="cardNews__text">
								<p>We raised a $6.2 million pre-Series A. All thanks to our first doners, now our stakeholders, no doubt.</p>
							</div>
						</div>

					</div>
				</div>
			</div>

		</main>
		<!-- Seccion podcasts -->
		<article class="newsPodcast">
			<h2 class="podcast__title">LISTEN to our last content</h2>
			<iframe style="border-radius:12px"
				src="https://open.spotify.com/embed/episode/7i7cmNWi1ljObpmpfbefU6?utm_source=generator" width="100%"
				height="232" frameBorder="0" allowfullscreen=""
				allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
			</iframe>
		</article>
		<!-- ProjectsAdd -->
		<div class="projectsAdd">
			<h2>Projects</h2>
			<p>
				Products created in a sustaianble way. <br>
      			Innovation like you never imagined.
			</p>
			<a href="projects.html"><button class="buttonAdd">Go to it</button></a>
		</div>
		<!-- footer -->
		<footer class="conteiner pie">

			<!-- nav del footer -->
			<ul class="nav flex-column pie__nav col-md-3 col-sm-12 ">
				<li class="nav-item">
					<a class="nav-link" href="projects.html">Projects</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="news.html">News</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="donate.html">Donate</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="talk_to_us.html">Talk to us</a>
				</li>
			</ul>

			<div class="col-md-3 col-sm-12">

				<!-- Titulo footer -->
				<div class="pie__title">
					<span class="text-muted">Get to know us, bb</span>
				</div>

				<!-- iconos redes sociales -->
				<div class="pie__icon">
					<a href="https://www.instagram.com" target="_blank">
					<img src="../img/instagram-actions.png" alt=" Instagram Actions">
					</a>
					<a href="https://twitter.com" target="_blank">
					<img src="../img/twitter-actions.png" alt="Twitter Actions">
					</a>
					<a href="https://discord.com" target="_blank">
					<img src="../img/discord-actions.png" alt="Discord Actions">
					</a>
				</div>

			</div>
			
			<div class="col-md-3 col-sm-12">

				<!-- logo del footer -->
				<div class="pie__logo">
					<a class="navbar-brand" href="../index.html">
					<img src="../img/logo-actions.png" alt="Actions logo">
					</a>
				</div>

				<!-- copy del footer -->
				<p class="pie__copy">© Copyright 2022, Actions Inc.</p>

			</div>
		</footer>
		<!-- Bootstrap Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
		</script>
	</body>

</html>