<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Actions</title>
	<!-- favicon -->
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body class="projectsGrid">
	<!-- Botonera -->
	<nav class="botonera">
		<!-- Logo home -->
		<a href="../index.html">
			<img class="botonera__logo" src="../img/logo-actions.png" alt="Actions logo">
		</a>
		<!-- Accesos -->
		<ul class="botonera__lista">
			<li><a href="projects.html">Projects</a></li>
			<li><a href="news.html">News</a></li>
			<li><a href="donate.html">Donate</a></li>
			<li><a href="talk_to_us.html">Talk to us</a></li>
		</ul>
	</nav>
	<!-- Projects -->
	<main class="projectsContent">
		<!-- seccion proyecto 1 -->
		<figure class="projects__card">
			<a href="https://theoceancleanup.com/oceans/" target="_blank">
				<img src="../img/theoceancleanup-actions.png" alt="The Ocean Cleanup" class="card__img">
				<h2 class="card__title">The Ocean Cleanup</h2>
				<p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rati</p>
				<button class="buttonCard">See more</button>
			</a>
		</figure>
		<!-- seccion proyecto 2 -->
		<figure class="projects__card">
			<a href="https://seabinproject.com/seabin-foundation/projects/" target="_blank">
				<img src="../img/seabin-actions.png" alt="Seabin project" class="card__img">
				<h2 class="card__title">Seabin Fundation</h2>
				<p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione necessitatibus error</p>
				<button class="buttonCard">See more</button>
			</a>
		</figure>
		<!-- seccion proyecto 3 -->
		<figure class="projects__card">
			<a href="https://www.planetahuerto.es/marca-planeta-huerto" target="_blank">
				<img src="../img/planetahuerto-actions.png" alt="planetahuerto" class="card__img">
				<h2 class="card__title">Planeta huerto</h2>
				<p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. R</p>
				<button class="buttonCard">See more</button>
			</a>
		</figure>
		<!-- seccion proyecto 4 -->
		<figure class="projects__card">
			<a href="https://www.planetahuerto.es/marca-planeta-huerto" target="_blank">
				<img src="../img/planetahuerto-actions.png" alt="planetahuerto" class="card__img">
				<h2 class="card__title">Planeta huerto</h2>
				<p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione necessitatior</p>
				<button class="buttonCard">See more</button>
			</a>
		</figure>
	</main>
	<!-- DonateAdd -->
	<div class="donateAdd">
		<h2>Donate</h2>
		<p>As a non-profit, donations and in-kind support enable us to work towards our goal of ridding the world's oceans of plastic.uptate, numquam veniam dolores, commodi porro quas corporis nat</p>
		<button class="buttonAdd"><a href="donate.html">Help</a></button>
	</div>
	<!-- NewsAdd -->
	<div class="newsAdd">
		<h2>News</h2>
		<p>Read current events articles on sustainable agriculture and sustainable living. Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Nostrum, laudantium distinctio error iusto dolor et, fugiat! Error, obcaeca</p>
		<button class="buttonAdd"><a href="news.html">Read</a>
	</div>
	<!-- footer -->
	<footer class="pie">
		<!-- Titulo footer -->
		<h3 class="pie__title">Visit our social media</h3>
		<!-- accesos redes sociales -->
		<div class="pie__icon">
			<a href="https://www.instagram.com" target="_blank">
				<img src="../img/instagram-actions.png" alt=" Instagram Actions" class="pie__icon--s">
			</a>
			<a href="https://twitter.com" target="_blank">
				<img src="../img/twitter-actions.png" alt="Twitter Actions" class="pie__icon--s">
			</a>
			<a href="https://discord.com" target="_blank">
				<img src="../img/discord-actions.png" alt="Discord Actions" class="pie__icon--s">
			</a>
		</div>
	</footer>
</body>
</html>