<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Actions</title>
	<!-- favicon -->
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body class="talkToUsGrid">
	<!-- Botonera -->
	<nav class="botonera">
		<!-- Logo home -->
		<a href="../index.html">
			<img class="botonera__logo" src="../img/logo-actions.png" alt="Actions logo">
		</a>
		<!-- Accesos -->
		<ul class="botonera__lista">
			<li><a href="projects.html">Projects</a></li>
			<li><a href="news.html">News</a></li>
			<li><a href="donate.html">Donate</a></li>
			<li><a href="talk_to_us.html">Talk to us</a></li>
		</ul>
	</nav>
	<!-- Talk to us -->
	<main class="talkToUsContent">
		<!-- seccion contacto -->
		<section class="sectionTalkToUs">
			<h1 class="talkToUs__title--xxl">Talk to us</h1>
			<h2 class="talkToUs__title--xl">Be a part of our community, lets chat</h2>
			<iframe src="https://discord.com/widget?id=947302577136082945&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
		</sections>
		<!-- Pendiente ver si se puede armar una encuesta/juego -->
		<section>
			<form action="quiz">
				
			</form>
		</sections>
	</main>
	<!-- ProjectsAdd -->
	<div class="projectsAdd">
		<h2>Projects</h2>
		<p>Thanks to our partners we can clean the oceans. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum qui esse cum sit voluptate, numquam veniam dolores, commodi porro quas corporis nat</p>
		<button class="buttonAdd"><a href="projects.html">Learn more</a></button>
	</div>
	<!-- NewsAdd -->
	<div class="newsAdd">
		<h2>News</h2>
		<p>Read current events articles on sustainable agriculture and sustainable living. Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Nostrum, laudantium distinctio error iusto dolor et, fugiat! Error, obcaeca</p>
		<button class="buttonAdd"><a href="news.html">Read</a>
	</div>
	<!-- footer -->
	<footer class="pie">
		<!-- Titulo footer -->
		<h3 class="pie__title">Visit our social media</h3>
		<!-- accesos redes sociales -->
		<div class="pie__icon">
			<a href="https://www.instagram.com" target="_blank">
				<img src="../img/instagram-actions.png" alt=" Instagram Actions" class="pie__icon--s">
			</a>
			<a href="https://twitter.com" target="_blank">
				<img src="../img/twitter-actions.png" alt="Twitter Actions" class="pie__icon--s">
			</a>
			<a href="https://discord.com" target="_blank">
				<img src="../img/discord-actions.png" alt="Discord Actions" class="pie__icon--s">
			</a>
		</div>
	</footer>
</body>
</html>